# Maven
target/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Gradle
.gradle/
build/

# macOS junk
.DS_Store
Icon?

# Misc
.Rhistory
*.log

# Office temp files
~$*

# secrets
.env
docker-compose.override.yml

#Claude
Claude outputs

frontend/node_modules
frontend/dist