# Maven
target/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Gradle
.gradle/
build/

# macOS junk
.DS_Store
Icon?

# Misc
.Rhistory
*.log

# Office temp files
~$*

# data
/data/**
!/data/persistence/
!/data/persistence/testReaderEmpty.json
!/data/persistence/testReaderGeneral.json
